<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{46,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{46,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{80,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,130},{80,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,258},{78,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,130},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,258},{78,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,126}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num.png</string>
            <key>size</key>
            <string>{248,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508a713e32c6df4cbf92ace914160e6e:27879d2aa606df8570d0684ce5a5b516:c8434379717a6af43528125c4e736aa8$</string>
            <key>textureFileName</key>
            <string>num.png</string>
        </dict>
    </dict>
</plist>
